#login-container{
  
    width: 24%;
    height: auto;
    margin: auto;
   
    padding:0 30px;
    border: 1px solid#F1EEEA;
    padding-top: 30px;
    background-color: white;
    
}

#login-container h2{
    margin-top: -5px;
    font-weight: 300;
   
}

form > div > input{
    display: block;
    height: 40px;
    width: 96%;
    margin-top: 15px;
    border: 1px solid #DCDEDD;
    padding-left: 10px;
}

form > div > input:nth-child(4){
    width: 100%;
}

form > div > a{
    margin-top: 5px;
    font-size: 12px;
}


button{
    margin-top: 14px;
    display: block;
    height: 40px;
    width: 100%;
}

button:nth-child(5){
    border-radius:  6px;
    color: white;
    background-color: black;
    border: 10px;
    font-weight: bolder;
}

#login-container > form > button:nth-child(6){
    background: #39579A;
    color: white;
    border: 0;
    font-weight: bold;
}
#login-container > form > p:nth-child(4){
    text-align: center;
    
}

form a{
    color: blue;
   
}

#login-container > form > p:nth-child(7){
    color: grey;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: -4px;

}

#login-container > form > a:nth-child(8){
   font-weight: bolder;
   font-size: 12px;
  
}

#signup{
    border: 1px solid #F1EEEA;
    text-align: center;
    width: 24%;
    margin: auto;
    padding: 0 30px;
    font-weight: lighter;
    background-color: white;
   
}

#signup h4{
    font-weight: 100;
}

#signup a{
    color: blue;
    font-size: 14px;
    font-weight: 100;
}

#terms-conditions h4{
    font-size: 13px;
    font-weight: 100;
    color: grey;
}

#terms-conditions{
    border: 1px solid #F1EEEA;
    width: 24%;
    margin: auto;
    padding: 0 30px;
    font-weight: lighter;
    background-color: white;
}

#terms-conditions a{
    color: blue;
    font-size: 12px;
    font-weight: 100;
}


#background{
    background-color:#F7F7F6;
    padding-top: 60px;
}


